<DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>

    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/pouchdb@7.0.0/dist/pouchdb.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery"</script>
    <script src="https://cdn.jsdelivr.net/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  </head>
  <body>
    <div id="app">
      <div class="container">
        <p><br/><p>
        <div class="row">
          <div class="col-md-8">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>id</th>
                  <th>name</th>
                  <th>monsters</th>

                  <th width="130">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in items" v-bind:key="item.id">
                  <td>{{ item._id }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.monsters }}</td>

                  <td class="text-center">
                    <button @click="edit(item)" class="btn btn-warning btn-sm">Edit</button>
                    <button @click="destroy(item)" class="btn btn-danger btn-sm">Trash</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-4">
            <form>
              <div class="form-group">
                <label>id: &lt;this ID&gt;</label>
                <input type="text" v-model="input._id" class="form-control" />
              </div>
              <div class="form-group">
                <label>name: &lt;this name&gt;</label>
                <input type="text" v-model="input.name" class="form-control" maxlength="100" />
              </div>

             <div class="form-group">
                <label>description: &lt;this ID&gt; = game.new_location(  &quot;&lt;this name&gt;&quot;,&quot;&quot;&quot;&lt;this description&gt;&quot;&quot;&quot;)</label>
                <input type="text" v-model="input.description" class="form-control" maxlength="500"/>
              </div>

              <div class="form-group">
                <label>monsters</label>
                <input type="text" v-model="input.monsters" class="form-control" maxlength="500"/>
              </div>
             <div class="form-group">
                <label>items: &lt;item ID&gt; = &lt;this ID&gt;.new_object(&quot;&lt;item name&gt;&quot;, &quot;&lt;item description&gt;&quot;)</label>
                <input type="text" v-model="input.items" class="form-control" maxlength="500"/>
              </div>

             <div class="form-group">
                <label>north: game.new_connection(&quot;&lt;target name&gt;&quot;, &lt;this ID&gt;, &lt;target ID&gt;, [&lt;TO in CAPS&gt;], [&lt;BACK in CAPS&gt;])</label>
                <input type="text" v-model="input.north" class="form-control" maxlength="210"/>
              </div>

              <div class="form-group">
                <label>south</label>
                <input type="text" v-model="input.south" class="form-control" maxlength="210"/>
              </div>

              <div class="form-group">
                <label>east</label>
                <input type="text" v-model="input.east" class="form-control" maxlength="210"/>
              </div>

              <div class="form-group">
                <label>west</label>
                <input type="text" v-model="input.west" class="form-control" maxlength="210"/>
              </div>

             <div class="form-group">
                <label>tresure</label>
                <input type="text" v-model="input.treasure" class="form-control" maxlength="500"/>
              </div>
             <div class="form-group">
                <label>scares</label>
                <input type="text" v-model="input.scares" class="form-control" maxlength="200"/>
              </div>
              <button v-if="savebtn" @click.prevent="save" class="btn btn-primary">Save</button>
             
              <button @click.prevent="clear" class="btn btn-info">Clear</button>
            </form>
          </div>
        </div>
      </div>
    </div>


    <script>
      window.db = new PouchDB('tomb_arena')

      var app = new Vue({
        el: '#app',
        data: {
          items : [],
          input: {
            _id: '',
            name: '',
            description: '',
            monsters: '',
            items: '',
            north: '',
            south: '',
            east: '',
            west: '',
            treasure: '',
            scares: ''
          },
          savebtn: true,
 //         updatebtn: false
        },
        created: function () {
          this.view()
          this.localData()
          this.items = JSON.parse(localStorage.getItems('items'))
        },
        methods: {
          localData: function () {
            let parsed = JSON.stringify(this.items)
            localStorage.setItem('items', parsed)
          },
          view: function () {
            let vm = this
            db.allDocs({
              include_docs: true
            }).then(function(response) {
              for(var i = 0; i < response.rows.length; i++) {
                vm.items.push(response.rows[i].doc)
              }
            }).catch(function(error) {
              console.log(error)
            })
          },
          save: function () {
            var id = this.input._id
            var nm = this.input.name
            var ds = this.input.description
            var mo = this.input.monsters
            var it = this.input.items
            var nr = this.input.north
            var so = this.input.south
            var ea = this.input.east
            var ws = this.input.west
            var tr = this.input.treasure
            var sc = this.input.scares

            db.put({
              _id: id,
              name: nm,
              description: ds,
              monsters: mo,
              items: it,
              north: nr,
              south: so,
              east: ea,
              west: ws,
              treasure: tr,
              scares: sc
            }).then(function(response){

            }).catch(function(error) {
              console.log(error)
            })

            this.items.push({_id: id, name: nm, description: ds, monsters: mo, items: it, north: nr, south: so, east: ea, west: ws, treasure: tr, scares: sc})
            this.clear()

            this.localData()

            swal('Added', 'Thank you', 'success')
          },
          clear: function () {
            this.savebtn = true
//            this.updatebtn = false
            this.input._id = ''
            this.input.name = ''
            this.input.description = ''
            this.input.monsters = ''
            this.input.items = ''
            this.input.north = ''
            this.input.south = ''
            this.input.east = ''
            this.input.west = ''
            this.input.treasure = ''
            this.input.scares = ''

          },
          edit: function (item) {
            this.savebtn = true
//            this.updatebtn = true
            this.input._id = item._id
            this.input.name = item.name
            this.input.description = item.description
            this.input.monsters = item.monsters
            this.input.items = item.items
            this.input.north = item.north
            this.input.south = item.south
            this.input.east = item.east
            this.input.west = item.west
            this.input.treasure = item.treasure
            this.input.scares = item.scares
          },
//          update: function (id) {
// *         var myid = id - 1
// *         Object.assign(this.items[myid], this.input)
//
//            var id = this.input.id
//            var gm = this.input.game
//            var ds = this.input.description
//            var mo = this.input.monsters
//            var it = this.input.items
//            var nr = this.input.north
//            var so = this.input.south
//            var ea = this.input.east
//            var ws = this.input.west
//            var tr = this.input.treasure
//            var sc = this.input.scares
//
//          db.get(id).then(function(doc){
//             return db.put({
//              _id: id,
//             _rev: doc._rev,
//               game: gm,
//                description: ds,
//                monsters: mo,
//                items: it,
//                north: nr,
//                south: so,
//                east: ea,
//                west: ws,
//                treasure: tr,
//                scares: sc
//              })
//            }).then(function(response){
//
//            }).catch(function(error){
//              console.log(error)
//            })
//
//            this.clear()
//
//            this.localData()
//
//            swal('Updated', 'Good Work', 'warning')
//          },
          destroy: function (item) {
            var del = this.items.indexOf(item)
            swal({
              title: "Are you sure",
              text: "Input will be destroyed",
              icon: 'error',
              buttons: true,
              dangerMode: true
            }).then((willDelete) => {
              if(willDelete){
                this.items.splice(del, 1)
                db.get(item._id).then(function(doc){
                  return db.remove(doc)
                }).then(function(response){

                }).catch(function(error){
                  console.log(error)
                })
              } else {
                
              }
            })
          }
        }
      })

    </script>
  </body>
</html>


