<DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>

    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/pouchdb@7.0.0/dist/pouchdb.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery"</script>
    <script src="https://cdn.jsdelivr.net/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  </head>
  <body>
    <div id="app">
      <div class="container">
        <p><br/><p>
        <div class="row">
          <div class="col-md-8">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>ROOM</th>
                  <th>ZONE</th>

                  <th>NORTH</th>
                  <th>SOUTH</th>
                  <th>EAST</th>
                  <th>WEST</th>


                  <th width="130">Actions</th>
                  <p>copy paste heading except for 'zonemap = {' use that only once. Like wise close zonemap with a final }.</p>
                  <p>|------------>##############      eighty characters    #######################################</p>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in items" v-bind:key="item.id">
                  <td>{{ item._id }}</td>
                  <td>{{ item.room }}</td>
                  <td>{{ item.zone }}</td>

                  <td>{{ item.north }}</td>
                  <td>{{ item.south }}</td>
                  <td>{{ item.east }}</td>
                  <td>{{ item.west }}</td>

                  
                  <td class="text-center">
                    <button @click="edit(item)" class="btn btn-warning btn-sm">Edit</button>
                    <button @click="destroy(item)" class="btn btn-danger btn-sm">Trash</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-4">
            <form>
              <div class="form-group">
                <label>ID</label>
                <input type="text" v-model="input._id" class="form-control" maxlength="75" />
              </div>
              <div class="form-group">
                <label> zonemap = {'room name' : { </label>
                <input type="text" v-model="input.room" class="form-control" maxlength="75" />
              </div>
              <div class="form-group">
                <label>ZONENAME: 'name of zone',</label>
                <input type="text" v-model="input.zone" class="form-control" maxlength="50" />
              </div>

             <div class="form-group">
                <label>DESCRIPTION: 'up to 1000 characters new line\n'+'next line to end\n',</label>
                <input type="text" v-model="input.description" class="form-control" maxlength="1000"/>
              </div>

              <div class="form-group">
                <label>EXAMINATION: 'numbered items with functions to define',</label>
                <input type="text" v-model="input.examination" class="form-control" maxlength="1000"/>
              </div>
             <div class="form-group">
                <label>SOLVED: True or False,</label>
                <input type="text" v-model="input.solved" class="form-control" maxlength="22"/>
              </div>

             <div class="form-group">
                <label>NORTH: 'exit to room',</label>
                <input type="text" v-model="input.north" class="form-control" maxlength="50"/>
              </div>

              <div class="form-group">
                <label>SOUTH: 'exit to room',</label>
                <input type="text" v-model="input.south" class="form-control" maxlength="50"/>
              </div>

              <div class="form-group">
                <label>EAST: 'exit to room',</label>
                <input type="text" v-model="input.east" class="form-control" maxlength="50"/>
              </div>

              <div class="form-group">
                <label>WEST: 'exit to room',</label>
                <input type="text" v-model="input.west" class="form-control" maxlength="50"/>
              </div>

             <div class="form-group">
                <label>OBJECTS: 'comma separated items' },</label>
                <input type="text" v-model="input.objects" class="form-control" maxlength="500"/>
              </div>

              <button v-if="savebtn" @click.prevent="save" class="btn btn-primary">Save</button>
             
              <button @click.prevent="clear" class="btn btn-info">Clear</button>
            </form>
          </div>
        </div>
      </div>
    </div>


    <script>
      window.db = new PouchDB('tomb_zone')

      var app = new Vue({
        el: '#app',
        data: {
          items : [],
          input: {
            _id: '',
            room: '',
            zone: '',
            description: '',
            examination: '',
            solved: '',
            north: '',
            south: '',
            east: '',
            west: '',
            objects: ''
          },
          savebtn: true,
 //         updatebtn: false
        },
        created: function () {
          this.view()
          this.localData()
          this.items = JSON.parse(localStorage.getItems('items'))
        },
        methods: {
          localData: function () {
            let parsed = JSON.stringify(this.items)
            localStorage.setItem('items', parsed)
          },
          view: function () {
            let vm = this
            db.allDocs({
              include_docs: true
            }).then(function(response) {
              for(var i = 0; i < response.rows.length; i++) {
                vm.items.push(response.rows[i].doc)
              }
            }).catch(function(error) {
              console.log(error)
            })
          },
          save: function () {
            var id = this.input._id
            var rm = this.input.room
            var zn = this.input.zone
            var ds = this.input.description
            var ex = this.input.examination
            var sv = this.input.solved
            var nr = this.input.north
            var so = this.input.south
            var ea = this.input.east
            var ws = this.input.west
            var ob = this.input.objects

            db.put({
              _id: id,
              room: rm,
              zone: zn,
              description: ds,
              examination: ex,
              solved: sv,
              north: nr,
              south: so,
              east: ea,
              west: ws,
              objects: ob
            }).then(function(response){

            }).catch(function(error) {
              console.log(error)
            })

            this.items.push({_id: id, room: rm, zone: zn, _description: ds, examination: ex, solved: sv, north: nr, south: so, east: ea, west: ws, objects: ob})
            this.clear()

            this.localData()

            swal('Added', 'Thank you', 'success')
          },
          clear: function () {
            this.savebtn = true
//            this.updatebtn = false
            this.input._id = ''
            this.input.room = ''
            this.input.zone = ''
            this.input.description = ''
            this.input.examination = ''
            this.input.solved = ''
            this.input.north = ''
            this.input.south = ''
            this.input.east = ''
            this.input.west = ''
            this.input.objects = ''

          },
          edit: function (item) {
            this.savebtn = true
//            this.updatebtn = true
            this.input._id = item._id
            this.input.room = item.room
            this.input.zone = item.zone
            this.input.description = item.description
            this.input.examination = item.examination
            this.input.solved = item.solved
            this.input.north = item.north
            this.input.south = item.south
            this.input.east = item.east
            this.input.west = item.west
            this.input.objects = item.objects
          },
//          update: function (id) {
// *         var myid = id - 1
// *         Object.assign(this.items[myid], this.input)
//
//            var id = this.input.id
//            var gm = this.input.game
//            var ds = this.input.description
//            var mo = this.input.monsters
//            var it = this.input.items
//            var nr = this.input.north
//            var so = this.input.south
//            var ea = this.input.east
//            var ws = this.input.west
//            var tr = this.input.treasure
//            var sc = this.input.scares
//
//          db.get(id).then(function(doc){
//             return db.put({
//              _id: id,
//             _rev: doc._rev,
//               game: gm,
//                description: ds,
//                monsters: mo,
//                items: it,
//                north: nr,
//                south: so,
//                east: ea,
//                west: ws,
//                treasure: tr,
//                scares: sc
//              })
//            }).then(function(response){
//
//            }).catch(function(error){
//              console.log(error)
//            })
//
//            this.clear()
//
//            this.localData()
//
//            swal('Updated', 'Good Work', 'warning')
//          },
          destroy: function (item) {
            var del = this.items.indexOf(item)
            swal({
              title: "Are you sure",
              text: "Input will be destroyed",
              icon: 'error',
              buttons: true,
              dangerMode: true
            }).then((willDelete) => {
              if(willDelete){
                this.items.splice(del, 1)
                db.get(item._id).then(function(doc){
                  return db.remove(doc)
                }).then(function(response){

                }).catch(function(error){
                  console.log(error)
                })
              } else {
                
              }
            })
          }
        }
      })

    </script>
  </body>
</html>


